.container {
    margin-top: 6rem;
}

.col {
    background-color: var(--gray);
    border-radius: var(--small-radius);
    cursor: pointer;
    height: 7rem;
    width: 16rem;
}

.col.active {
    background: linear-gradient(200.14deg, #DD955E -35.62%, #C86628 133.96%);
    color: var(--white);
}