.container { position: relative; }
.title {
    font-weight: 900;
    font-size: 2rem;
    line-height: 3rem;
}

.text {
    font-family: rokh;
    font-weight: 600;
    line-height: 2em;
    margin-top: 1.6rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 1.22rem;
}

.arrow {
    position: absolute;
    bottom: 0;
    left: -7rem;
}

.title1 {
    animation: title1 1400ms ease;
}

.title2 {
    animation: title2 800ms ease;
    /* animation-delay: 800ms; */
}

.title3 {
    animation: title3 1000ms ease;
    animation-delay: 0;
}

@keyframes title1 {
    0% { transform: translateY(120px); opacity: 0;  }
    100% { transform: translateY(0px); opacity: 1; }
}

@keyframes title2 {
    0% { transform: translateY(70px); opacity: 0; }
    100% { transform: translateY(0px); opacity: 1; }
}

@keyframes title3 {
    0% { opacity: 0; }
    100% { opacity: 1; }
}